body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d5e1ef;
}

.card {
  background-color: #ffffff;
  width: 320px;
  padding: 16px;
  border-radius: 20px;
}

.img-container img {
  width: 100%;
  height: 288px;
  border-radius: 20px 20px 0 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h2 {
  color: #1f314f;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  width: 252px;
  margin-top: 24px;
}

.content p {
  color: #68778d;
  font-size: 15px;
  text-align: center;
  line-height: 140%;
  letter-spacing: 0.19px;
  font-family: "Outfit", sans-serif;
  width: 256px;
  margin-top: 16px;
  margin-bottom: 40px;
}
