* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #000;
  --secondary-color: #b9ff66;
  --primary-font: "Space Grotesk", sans-serif;
}

body {
  font-family: var(--primary-font);
}

h2 {
  font-size: 4rem;
  font-weight: 500;
  background-color: var(--secondary-color);
  padding: 0 0.7rem;
  display: inline-block;
  height: fit-content;
}

.container {
  width: 144rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
}

/* Navigation Styles */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 7rem;
}

.navigation__logo img {
  width: 100%;
}

.navigation__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  list-style-type: none;
}

.navigation__list__list-item a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 2rem;
}

.navigation__list__list-item a:hover,
.navigation__list__list-item a:focus,
.navigation__list__list-item a:active {
  color: #92c652;
  text-shadow: #000;
  font-weight: 700;
  border-bottom: 1px solid #92c652;
  padding-bottom: 1rem;
}

.navigation__list__list-item:nth-child(6) {
  border: 1px solid #000;
  padding: 2rem 3.5rem;
  border-radius: 1.4rem;
  font-weight: 700;
}

.navigation__list__list-item:nth-child(6):hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.navigation__list__list-item:nth-child(6) a:hover {
  color: #000;
  border: none;
}

.navigation__list__mobile {
  display: none;
}

/* HERO Styles */
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12.8rem;
  margin-bottom: 11.3rem;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

.hero__content h1 {
  font-size: 6rem;
  font-weight: 500;
  color: var(--primary-color);
}

.hero__content p {
  font-size: 2rem;
  line-height: 1.7;
}

.hero__content a {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 2rem 3.5rem;
  border-radius: 1.4rem;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  width: fit-content;
}

.hero__content a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* LOGOS SECTION STYLES */

.logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  margin-bottom: 14rem;
  gap: 3rem;
}

.logos img {
  max-width: 100%;
  display: inline-block;
  filter: grayscale(100%);
  cursor: pointer;
}

.logos img:hover {
  filter: grayscale(0);
}

/* SERVICES CONTAINER STYLES */
.services__header {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-bottom: 8rem;
}

.services__header p {
  font-size: 1.8rem;
  font-weight: 400;
  max-width: 58rem;
}

/* MEDIA QUERIES STYLES */
@media (max-width: 1200px) {
  .navigation__logo {
    display: flex;
    justify-content: space-between;
  }

  .mobile__button {
    display: block;
    width: 4rem;
    cursor: pointer;
  }

  .navigation__list {
    display: none;
  }

  .navigation__list__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background: rgba(185, 255, 102, 1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(185, 255, 102, 1);
  }

  .navigation__list__list-item__mobile {
    border-bottom: 1px solid #000;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .navigation__list__list-item__mobile:hover {
    background-color: #92c652;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .navigation__list__list-item__mobile a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-family: var(--primary-font);
  }

  .navigation__list__list-item__mobile a:hover {
    color: #fff;
  }
}

@media (min-width: 1201px) {
  .navigation__list {
    display: flex;
  }

  .mobile__button {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hero__content h1 {
    font-size: 4rem;
  }

  .hero img {
    width: 40rem;
  }
}

@media (max-width: 820px) {
  .hero {
    grid-template-columns: 1fr;
  }

  .hero img {
    display: none;
  }

  .logos {
    grid-template-columns: repeat(3, 1fr);
  }

  .services__header {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 568px) {
  .container {
    padding: 0 3rem;
  }

  .logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 280px) {
  .container {
    padding: 0 3rem;
  }

  .navigation {
    flex-direction: column;
    gap: 2rem;
  }

  .logos {
    justify-content: center;
  }
}
